<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIdentifier</key>
    <string>com.fpira.template.post</string>
    <key>CFBundleName</key>
    <string>Frank's blog (fpira.com)</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1</string>
    <key>CFBundleSupportedPlatforms</key>
    <array><string>MacOSX</string></array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>IATemplateDocumentFile</key>
    <string>document</string>
    <key>IATemplateDescription</key>
    <string>fpira.com post template</string>
    <key>IATemplateAuthor</key>
    <string>Francesco Pira</string>
    <key>IATemplateAuthorURL</key>
    <string>https://fpira.com</string>
</dict>
</plist>
