<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIdentifier</key>
    <string>com.fpira.template.post</string>
    <key>CFBundleName</key>
    <string>fpira.com</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>2</string>
    <key>IATemplateDocumentFile</key>
    <string>post</string>
    <key>IATemplateDescription</key>
    <string>fpira.com post template.</string>
    <key>IATemplateAuthor</key>
    <string>Francesco Pira</string>
    <key>IATemplateAuthorURL</key>
    <string>http://fpira.com</string>
</dict>
</plist>
